body{
    width: 70%;
    margin: auto;
}

table{
    margin: auto;
    width: 100%;
}

.mainHeader nav ul{
    list-style-type: none;
    text-align: center;
}

.mainHeader nav ul li{
    display: inline;
    cursor: pointer;
}

#calendar-container{
    padding: 10px;
    border:1px solid red;
    margin: auto;
}

#calendar-month-year{
    border:1px solid yellow;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

#calendar-days{
    margin-top: 5px;
    border:1px solid blue;
    text-align: center;
    font-size: 24px;
}

.buttonMonth{
    cursor: pointer;
}

#dayCells{
    cursor: pointer;
    border: 1px solid black; 
}

#emptyCells{
    /*background-color: #D3D3D3;*/
}

#numberDayCell{
    vertical-align: top;
    text-align: left;
    color: red;
}

#contentCell{
    color: blue;
    vertical-align: bottom;
    text-align: center;
}

